* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: #f5f5f5;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
}

.header-container {
  margin-top: 10px;
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #6194e8, #8db8f9);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

header h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  color: #c2e9f9;
  text-shadow: -1.2px -1.2px 0 #000, 1.2px -1.2px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  letter-spacing: 5px;
}

nav {
  height: 25px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin-top: 41px;
  z-index: 1;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
  background-color: #bdd2f8;
  width: 40%;
  border-radius: 4px;
}

nav a {
  text-decoration: none;
  color: #4e6bd2;
}

.nav-item.active {
  color: #edd1b5;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.content-container {
  padding: 5px 0;
  margin-top: 20px;
  display: flex;
  width: 100%;
  border-top: 1px solid #99afe3;
}

.new-box {
  width: 256px;
  margin-bottom: 5px;
}

.new-content {
  font-family: "Times New Roman", Times, serif;
  display: none;
  padding: 5px;
  color: #7d95dc;
  background-color: #f8f9fa;
  border: 1px solid #e6e6e6;
  border-top: none;
  border-radius: 3px;
}

.new-header {
  padding: 10px;
  height: 38px;
  background-color: #f6dbb6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #b49ca9;
}

.new-title {
  font-size: 25px;
}
.new-header.active {
  background-color: #e99031;
  color: #f9df88;
}

.toggle-icon {
  cursor: pointer;
}

.drag-icon {
  font-size: 20px;
  cursor: ns-resize;
}

.is-dragging {
  opacity: 50%;
}

main {
  margin-left: 10px;
  width: 100%;
}

.process-text {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  height: 470px;
}

.process-text-header {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to top, #7e89d7, #cad1fb);
  padding: 10px;
  height: 40px;
  color: #f8f9fa;
}

.process-text-title {
  font-weight: bold;
  font-size: 20px;
}

.buttons-area {
  margin-left: 150px;
}

button {
  color: #f8f9fa;
  background-color: #5478f0;
  padding: 5px;
  border: none;
  width: 80px;
  border-radius: 20px;
  margin: 0 5px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to top, #7e9dff 50%, #5478f0 50%);
  background-size: 100% 200%;
  background-position: 0 0;
  transition: background-position 0.3s ease-in-out, box-shadow 0.3s ease;
}

button:hover {
  background-position: 0 70%;
}

.tool-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
}

.sample-text {
  background-color: white;
  margin-right: 15px;
  color: black;
}

#textColor {
  margin-right: 15px;
}

.text-setting-container {
  position: relative;
  display: inline-block;
}

.setting-text-btn {
  display: inline-block;
  font-size: 16px;
  background-color: #518df7;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
}

.text-options {
  display: none;
  position: absolute;
  background-color: #c6def8;
  border-radius: 5px;
  width: 10em;
  padding: 20px 0;
  left: 50%;
  margin-top: 10px;
  margin-left: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transform: translateX(-50%);
  color: #000;
}

.text-options::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #c6def8;
}

.text-options.show {
  display: flex;
  flex-direction: column;
}

.process-text-content {
  font-size: 24px;
  padding: 15px;
}
